<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.weibo.hl.security.mapper.UserMapper">
    <select id="getUserInfo" resultType="org.weibo.hl.security.api.pojo.rsp.UserCommonInfoDTO">
        select id, username
        from user
        <where>
            <if test="username != null and username.length() > 0">
                username like concat('%',#{username},'%')
            </if>
        </where>
    </select>
</mapper>