<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.weibo.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.weibo.pojo.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weibo_id" property="weiboId" jdbcType="INTEGER" />
    <result column="comment_text" property="commentText" jdbcType="VARCHAR" />
    <result column="comment_create_time" property="commentCreateTime" jdbcType="TIMESTAMP" />
    <result column="comment_user_id" property="commentUserId" jdbcType="INTEGER" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cqut.weibo.pojo.Comment" >
    insert into comment ( weibo_id, comment_text,
      comment_create_time, comment_user_id)
    values ( #{comment.weiboId,jdbcType=INTEGER}, #{comment.commentText,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{comment.commentUserId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cqut.weibo.pojo.Comment" >
    update comment
    set weibo_id = #{weiboId,jdbcType=INTEGER},
      comment_text = #{commentText,jdbcType=VARCHAR},
      comment_create_time = #{commentCreateTime,jdbcType=TIMESTAMP},
      comment_user_id = #{commentUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, weibo_id, comment_text, comment_create_time, comment_user_id
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, weibo_id, comment_text, comment_create_time, comment_user_id
    from comment
  </select>
  <select id="selectByWeiboId" resultType="com.cqut.weibo.dto.CommentDto">
    select comment.id, weibo_id as weiboId,
    comment_text as commentText,
    comment_create_time as commentCreateTime,
    comment_user_id as commentUserId,
    user.user_avatar as commentUserAvatar,
    user.user_name as commentUserName
    from comment,user where weibo_id = #{weiboId} and comment_user_id = user.id order by comment_create_time desc
  </select>
</mapper>