<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.weibo.dao.LogMapper">
    <insert id="insert" parameterType="com.cqut.weibo.dto.LogDO">
        insert into log(method_name, method_param, method_result)
        values (#{methodName}, #{methodParam}, #{methodResult})
    </insert>
</mapper>