<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.weibo.dao.WeiboMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.weibo.pojo.Weibo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weibo_text" property="weiboText" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="weibo_time" property="weiboTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <update id="deleteByPrimaryKey">
    update weibo set deleted = #{deleted}
    where id = #{id}
  </update>
  <update id="deleteWeiboById">
    update weibo set deleted = 1
    where id = #{id}
  </update>
  <insert id="insert" parameterType="com.cqut.weibo.dto.WeiboSubmitDto" useGeneratedKeys="true" keyProperty="id">
    insert into weibo (weibo_text, user_id, repost_count, comment_count, like_count,enabled,deleted) values (#{weiboText}, #{userId},0,0,0,1,0)
  </insert>
  <insert id="submitWeiboImages">
    insert into weibo_images (weibo_id, image_name, image_url)
    values (#{weiboId},#{imageName},#{imageURL})
  </insert>
  <insert id="insertWeiboImageName">
    insert into weibo_images (weibo_id, image_name)
    values (#{id},#{imageName})
  </insert>
  <insert id="submitWeiboVideo">
    insert into weibo_videos (weibo_id, video_name, video_url)
    values (#{id},#{videoName},#{videoURL})
  </insert>
  <update id="insertCreateTime">
    update weibo set weibo_time = #{createTime} where id = #{id} ;
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cqut.weibo.pojo.Weibo" >
    update weibo
    set weibo_text = #{weiboText,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      weibo_time = #{weiboTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateCommentCountByWeiboId">
    update weibo set comment_count = (select COUNT(*) FROM comment where weibo_id =#{weiboId}) where weibo.id = #{weiboId}
  </update>
  <update id="updateLikeCountByWeiboId">
    update weibo set like_count = (select COUNT(*) FROM weibo_like where weibo_id =#{weiboId}) where weibo.id = #{weiboId}
  </update>
  <update id="lockWeiboById">
    update weibo set enabled = #{enabled}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, weibo_text, user_name, weibo_time
    from weibo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll"  resultType="com.cqut.weibo.dto.WeiboDto">
    SELECT weibo.id, weibo_text as weiboText, weibo_time as weiboTime, user_avatar as userAvatar, user_name as userName,
    repost_count as repostCount, comment_count as commentCount, like_count as likeCount ,weibo.user_id as userId,weibo.enabled,weibo.deleted
    FROM `weibo`,user,fans
    <where>
      <if test="weiboText != null and weiboText != ''">
        weibo_text like concat("%",#{weiboText},"%")
      </if>
      and weibo.user_id = user.id
    </where>
    group by weibo.id
    order by weibo_time desc
    limit #{start},#{limit}
  </select>
  <select id="selectByUserId" resultType="com.cqut.weibo.dto.WeiboDto">
    select weibo.id, weibo_text as weiboText, user_id as userId, weibo_time as weiboTime, user_avatar as userAvatar, user_name as userName,
    repost_count as repostCount, comment_count as commentCount, like_count as likeCount
    from weibo,user
    where weibo.user_id = #{userId} and user.id = #{userId} and weibo.enabled = 1 and deleted = 0 order by weibo_time desc
  </select>
  <select id="getWeiboFromFollowsAndMe" resultType="com.cqut.weibo.dto.WeiboDto">
SELECT weibo.id, weibo_text as weiboText, weibo_time as weiboTime, user_avatar as userAvatar, user_name as userName,
repost_count as repostCount, comment_count as commentCount, like_count as likeCount
    FROM `weibo`,user,fans
    where
    (weibo.user_id in (select fans.user_id from fans where fans.fans_id = #{uid} and locked = 1)
    or weibo.user_id = #{uid}) and weibo.user_id = user.id and weibo.enabled = 1 and deleted = 0
		GROUP BY weibo.id
    order by weibo_time desc
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select COUNT(*) FROM weibo
    <where>
      <if test="weiboText != null and weiboText != ''">
        weibo_text like concat("%",#{weiboText},"%")
      </if>
    </where>
  </select>
</mapper>