<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqut.weibo.dao.WeiboLikeMapper" >
  <resultMap id="BaseResultMap" type="com.cqut.weibo.pojo.WeiboLike" >
    <id column="weibo_id" property="weiboId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from weibo_like
    where weibo_id = #{weiboId,jdbcType=INTEGER}
  </delete>
  <delete id="delete">
    delete from weibo_like
    where weibo_id = #{weiboLike.weiboId,jdbcType=INTEGER} and user_id = #{weiboLike.userId}
  </delete>
  <insert id="insert" parameterType="com.cqut.weibo.pojo.WeiboLike" >
    insert into weibo_like (weibo_id, user_id)
    values (#{weiboId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cqut.weibo.pojo.WeiboLike" >
    update weibo_like
    set user_id = #{userId,jdbcType=INTEGER}
    where weibo_id = #{weiboId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select weibo_id, user_id
    from weibo_like
    where weibo_id = #{weiboId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select weibo_id, user_id
    from weibo_like
  </select>
  <select id="selectWeiboLikeState" resultMap="BaseResultMap">
    select * from weibo_like where weibo_id = #{weiboId} and user_id = #{userId} limit 1
  </select>
</mapper>